node_modules/
data/
transcode/
media/
*.log
.env
.DS_Store

# Android
android-tv/.gradle/
android-tv/build/
android-tv/app/build/
android-tv/local.properties
android-tv/.idea/
android-tv/*.iml
android-tv/captures/
android-tv/.cxx/
